.nav-pills .nav-link, .btn-primary{
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    border: 0;
    background: var(--main-color);
    border-radius: 4px;
    box-shadow: 0 5px 0 #02807f;
    color: white;
    cursor: pointer;
    font: inherit;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background: var(--main-color);
}

.secretary-body-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
.header-container{
  grid-column: 1/4;
  grid-row: 1;
}

.table-container{
  grid-column: 1/4;
  grid-row: 2;
}

.modal-container{
  grid-column: 2/4;
  grid-row: 3;
  grid-column-start: inherit;
}

.for-btn-style{
  margin-top: 5%;
  padding: 20px;
}

.btn-style{
  margin: 10% auto 10% auto;
}