<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/headerFooterStyle.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <title>Home Page</title>
</head>
<body>
<div th:replace="header :: header"></div> <!---------- this is fragment ------------>
<main>
    <section id="secA">
        <h3>Our Story</h3>
        <p>We are <span>Robots Squad</span> group, who met online and worked together to design, create and produce this
            website that we are proud of. </p>
    </section>

    <section id="images">
        <div class="container bootdey">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Our Business Minds</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Build responsive, mobile-first projects on the web
                            with the world's most popular front-end component library.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                             class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-0">Lisa Martin</h4>
                            <small class="text-muted">Founder</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png"
                             class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-0">Calvin Carlo</h4>
                            <small class="text-muted">C.E.O.</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                             class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-0">Richha Jotchi</h4>
                            <small class="text-muted">Manager</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="fab fa-facebook" title="Facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="fab fa-instagram" title="Instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                    <div class="team text-center rounded p-3 py-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                             class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                        <div class="content mt-3">
                            <h4 class="title mb-0">Cristino Murfy</h4>
                            <small class="text-muted">Accountant</small>
                            <ul class="list-unstyled mt-3 social-icon social mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-instagram" title="Instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-twitter" title="Twitter"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-google-plus" title="Google +"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                        class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </section>

    <section id="form-section">
        <p id="feedheader">Tell Us ...</p>
        <form id="feedbackForm">
            <label for="name">Your Name</label> <br>
            <input id="name" type="text" name="name" placeholder="Enter Your name here " required minlength="2"
                   maxlength="20" pattern="[^0-9]+" title="Please enter text only" autocomplete="off">
            <br>
            <label for="textarea">Your Feedback</label> <br>
            <input id="textarea" type="text" name="feedback" placeholder="Enter Your review here" minlength="10"
                   required autocomplete="off" maxlength="45">
            <br>
            <button type="submit">Submit</button>
        </form>

        <div id="results">
            <h3> Most Recent FeedBacks:</h3>
            <div id="feedbacks">
            </div>
        </div>
    </section>
</main>
<div th:replace="footer :: footer"></div> <!--This is the footer fragment-->
</body>
</html>