<!DOCTYPE html>
<html>
<body>
<footer id="footer" th:fragment="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">About Us</h4>
                    </div>
                    <div class="info-sec">
                        <p>The Elite 4 team, who met online and worked together to design, create and produce this website that we are proud of.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Quick Links</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="/"><i class="fas fa-circle"></i>Home</a></li>
                            <li><a href="/aboutUs"><i class="fas fa-circle"></i>About us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Follow us</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="social-icon">
                            <li class="bglight-blue"><i class="fab fa-facebook-f fa-style"></i></li>
                            <li class="bgred"><i class="fab fa-google-plus-g fa-style"></i></li>
                            <li class="bgdark-blue"><i class="fab fa-linkedin-in fa-style"></i></li>
                            <li class="bglight-blue"><i class="fab fa-twitter fa-style"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright eClinic . All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>