<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/patientPage.js}"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/headerFooterStyle.css}">
    <link rel="stylesheet" th:href="@{/css/singlePatient.css}">
    <title>Patient Page</title>
</head>
<body>
<div th:replace="header :: header"></div> <!---------- this is fragment ------------>
<div class="container mt-3">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb mb-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/myDashboard}"> <i class="fas fa-arrow-circle-left"></i> Return
                to list of patients</a></li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="text-center em-background-box-content">
        <img class="img-circle img-em-border" th:src="@{/images/patient.png}" width="150" height="150">
        <h1 th:text="${patient.firstName}+' '+${patient.lastName}"></h1>
        <h4>
            <span class="thin" th:text="${patient.clinic.name}+' clinic'"></span>
        </h4>
    </div>
    <div class="patientInfo mt-3">
        <div class="text-center patientInfo2">
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Full Name</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.firstName}+ ' '+ ${patient.lastName}">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Gender</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.gender}">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Date Of Birth</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.dateOfBirth}">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Phone Number</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.phoneNumber}">

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Weight</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.weight}">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Age</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.age}">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h5 class="mb-0">Drug Allergies</h5>
                </div>
                <div class="col-sm-9" th:text="${patient.drugAllergies}">
                </div>
            </div>
        </div>
    </div>
    <h1 class="presHeader">All prescriptions</h1>
    <div class="prescriptions">
        <table class="table">
            <thead>
            <tr class="view">
                <th scope="col">#</th>
                <th scope="col">Create Date</th>
                <th scope="col">Next Visit</th>
                <th scope="col">Diagnosis</th>
                <th scope="col">Comment</th>
                <th scope="col">Medicines</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="presc :${#lists.sort(patient.prescription,byId)}">
                <td th:text="${presc.id}"></td>
                <td th:text="${presc.createdAt}"></td>
                <td th:text="${presc.nextVisit}"></td>
                <td th:text="${presc.diagnosis}"></td>
                <td th:text="${presc.comment}"></td>
                <td>
                    <ul class="list-group list-group-horizontal" th:each="med :${presc.medicine}">
                        <li class="list-group-item" th:text="${med.name}"></li>
                        <li class="list-group-item"
                            th:text="${med.dosage}+ '' +${med.unit}+' per '+${med.timesPer}"></li>
                        <li class="list-group-item" th:text="${'for ' +med.duration}+' ' +${med.durationType}"></li>
                        <li class="list-group-item" th:text="${med.details}"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/deletePersc/{perscId}/{patientId}(perscId=${presc.id},patientId=${patient.id})}"><i class="fas fa-trash-alt delete11"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="footer :: footer"></div> <!---------This is the footer fragment-------->
</body>
</html>